/* CSS Document */
body{
	background: #e9faff;
}
.loginblock{
	width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	margin: 10% auto;
}
.loginFields{
	
    padding: 20px;

}
.loginText{
	display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #555;
    line-height: 1.2;
    text-align: center;
}